<div class="add">
  <button mat-raised-button color="primary" (click)="addUser()">Adicionar +</button>
</div>

<div class="list">
  <div class="table-container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">

      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

      <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="bday">
      <th mat-header-cell *matHeaderCellDef> Data de Nasc. </th>
      <td mat-cell *matCellDef="let element"> {{element.bday}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="edit-icon" aria-label="Edit" (click)="editUser(element)">
          <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="delete-icon" aria-label="Delete" (click)="deleteUser(element.id)">
          <mat-icon>delete</mat-icon>
      </button>
       </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</div>