.footer {
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

mat-toolbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  font-weight: normal;
}

@media (max-width: 600px) {
  .text {
    font-size: 1rem;
    word-wrap: break-word;
    max-width: 90%;
  }
}